#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  limesurvey-app.service
BindsTo=limesurvey.service
After=limesurvey.service mariadb-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/limesurvey-app.pid %t/limesurvey-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/limesurvey-app.pid \
    --cidfile %t/limesurvey-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/limesurvey.pod-id --replace -d --name  limesurvey-app \
    --volume limesurvey-app:/var/www/html/upload/surveys/:Z \
    --env-file=%S/state/limesurvey-db.env \
    ${LIMESURVEY_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/limesurvey-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP limesurvey-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/limesurvey-app.ctr-id
PIDFile=%t/limesurvey-app.pid
Type=forking

[Install]
WantedBy=default.target
